/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
}

h1 {
    text-align: center;
    margin: 40px 0;
    color: #ff6f61; /* Color del título */
}

/* Barra de navegación */
.navbar {
    background-color: #1e1e1e; /* Fondo oscuro navbar */
}

.navbar-brand {
    color: #ff6f61 !important; /* Color llamativo para la marca */
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff6f61; /* Cambio de color al pasar el mouse */
}

/* Estilo del formulario de filtro */
.filtro-categoria {
    margin-bottom: 20px;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
}

.filtro-categoria label {
    color: #ffffff;
}

.filtro-categoria select {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.filtro-categoria button {
    background-color: #ff6f61;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.filtro-categoria button:hover {
    background-color: #e94f47;
}

/* Estilo de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.producto {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

.producto h2 {
    color: #ff6f61;
    margin: 10px 0;
}

.producto p {
    color: #aaaaaa;
}

.producto .precio {
    font-weight: bold;
    color: #ffffff;
}

/* Tarjetas de productos */
.card {
    background-color: #1e1e1e;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 20px rgba(255, 100, 100, 0.4);
}

.card-title {
    color: #ff6f61;
}

.card-text {
    color: #aaaaaa;
}

.btn-success {
    background-color: #ff6f61;
    border: none;
}

.btn-success:hover {
    background-color: #e65c50;
}

/* Modal */
.modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

.modal-header {
    border-bottom: 1px solid #ff6f61;
}

.modal-body {
    text-align: center;
}

/* Pie de página */
footer {
    background-color: #1e1e1e;
    color: #f8f9fa;
    text-align: center;
    padding: 20px;
}
